.section-clients {
    background-image: url("/images/background.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover; 
     /* filter: brightness(0.6); */
}

.client-heading {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
}

.clients-img {
    text-align: left;
    /* border-radius: 20px; */
    margin-left: -07px;
}

.clients-image {
    width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: -15px;
  margin-left: 0px;

  object-fit: cover;
  object-position: center right;
    /* width: 4rem;
    margin-bottom: -15px;
    margin-right: 20px; */
}

.client-paragraph {
  color: #4c4c4c;
}



.client-card {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 2rem 1.5rem;
}
.client-text {
    margin-bottom: 1rem!important;
    text-align: center;
}
.client-name {
    font-size: 25px;
    font-weight: 100;
}

