

.choose-heading {
    font-size: 40px;
    color: #599A31;
    text-align: center;
    font-weight: bold;
}

.why {
    box-shadow: 2px 4px 30px rgba(105, 98, 98, 0.23);
    width: 19rem;
    border-radius: 9px;
    padding-bottom: 10px;
    
    
}

.why-body {
    padding-top: 20px;
    /* border: 1px solid #dad8d8; */
}

.why-head, .why-text, .why-paragraph {
    margin-left: 20px;
}

.snail {
    
    height: 15rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.why-head {
    color: #599A31;
    font-weight: bold;
}

.photoss {
    width: 22rem;
    height: 15rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.choose_pix_cont {
    padding-top: 10px;
}