.section-services {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.illustration-box {
    margin: 0 auto;
    width: 17rem;
    height: 11rem;
}

.service-body {
    padding-top: 04rem;
    text-align: center;
}